services:
  # Service untuk scraping
  scraper:
    build: .  # Gunakan Dockerfile yang sama
    volumes:
      - ./data:/app/data  # Mount folder data lokal ke /app/data di container
    command: python src/scraper.py  # Jalankan scraper saat container start
    environment:
      - PYTHONPATH=/app

  # Service untuk ETL
  etl:
    build: .  # Gunakan Dockerfile yang sama
    depends_on:
      - scraper  # Jalankan ETL setelah scraper selesai
    volumes:
      - ./data:/app/data # Mount folder data lokal ke /app/data di container
    command: python src/etl.py
    environment:
      - PYTHONPATH=/app

  # Service untuk Dashboard
  dashboard:
    build: .
    ports:
      - "8501:8501"  # Expose port 8501 ke host
    volumes:
      - ./data:/app/data  # Dashboard juga butuh akses ke data
    command: streamlit run src/dashboard.py --server.port 8501 --server.address 0.0.0.0
    environment:
      - PYTHONPATH=/app
    # Tidak perlu depends_on ke scraper/etl jika dashboard hanya menampilkan data
    # Kamu bisa menjalankannya kapan saja setelah data ada.